%div.well
  %a.btn.btn-xs.btn-default{:href => to('/query'), :style=>"margin-bottom:1em;"}
    %span.glyphicon.glyphicon-chevron-left
    New Query
  - @query.each do |k,v|
    %br
    %span Query:
    %span= "#{k.capitalize} => #{v}"

%textarea{:style=>"width:100%;height:500px;"}= @result
