:javascript
  function exec() {
    var endpoint = d3.select("#endpoint").property("value")
    var sparql = d3.select("#sparql").property("value")
    console.log(d3sparql.query(endpoint, sparql, render))
  }
  function render(json) {
    var config = {
      "charge": -500,
      "distance": 50,
      "width": 1000,
      "height": 750,
      
      "selector": "#result"
    }
    //d3sparql.dendrogram(json, config)
    d3sparql.forcegraph(json, config)
  }

  function exec_offline() {
    d3.json("cache/test.json", render)
  }
  function toggle() {
    d3sparql.toggle()
  }
#query{:style => "margin: 10px"}
  %h1 test
  %form.form-inline
    %label SPARQL endpoint:
    .input-append
      %input#endpoint.span5{:type => "text", :value => "http://purl.enanomapper.org/sparql/"}
        %button.btn{:onclick => "exec()", :type => "button"} Query
        %button.btn{:onclick => "exec_offline()", :type => "button"} Use cache
        %button.btn{:onclick => "toggle()", :type => "button"}
          %i#button.icon-chevron-up
  %textarea#sparql{:rows => "15"}
    :preserve
      PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

      SELECT ?s ?p ?o WHERE { GRAPH ?g {
       ?s ?p ?o}
      } LIMIT 10

#result
